* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 95%;
  max-width: 100%;
  margin: 0 auto;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
  background: #e6e6e6;
}