.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1.5em 0;
    border: 1px solid #ccc;

    font-size: 1.1em;
}

.menu{
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 1.5em;
}

.menu li{
    cursor: pointer;
    transition: 1s ease all;
}

.menu li:hover{
    transform: translateY(-5px);
}

.titulo{
    text-align: center;
    position: absolute;
    left: calc(100% - 56%);
    font-weight: 800;
}

.redes{
    display: flex;
    gap: 1em;
}

.redesIcon{
    cursor: pointer;
    transition: 0.7s ease all;
}

.redesIcon:hover{
    transform: translateY(-5px);
}