.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
    position: relative;
    bottom: 0;
    padding: 1.7em 0;
    font-size: 1.1em;
    background: #e6e6e6;
}

.footer h2{
    letter-spacing: 0.2em;
    font-size: 1.8em;
}

.menu{
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 1em;
}

.menu li{
    cursor: pointer;
    transition: 1s ease all;
    text-decoration:underline;
    font-size: 1.1em;
}

.menu li:hover{
    transform: translateY(-5px);
}

.redes{
    display: flex;
    gap: 1em;
}

.redesIcon{
    cursor: pointer;
    transition: 0.7s ease all;
}

.redesIcon:hover{
    transform: translateY(-5px);
}

span{
    text-decoration: underline;
}