.containerGaleria{
    margin: 4em 0;
    font-style: italic;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5em;
}


.galeriaImg{
    width: 100%;
}

.col01, .col02, .col03{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.Maior{
    height: 480px;
}

.Maior01{
    height: 550px;
}